@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Mooli&display=swap');
*{
    box-sizing: border-box;
    transition: all ;
}
a{
    text-decoration: none;

}

body,html{
    margin: 0;
    padding: 0;
    
    
}

img{ 
    margin: 0;
    width: 100%;
    
}

section#contexto{
    
    min-height: 100vh;
    overflow-y: hidden;
    position: relative;
    width: 100vw;

}
#contexto #lado_der{
    background: rgb(18, 19, 23);
   
    border-radius: 0px 0px 0px 0px;
    padding: 80px 80px;
    height: 60%;
    left: 34%;
    position: absolute;
    top: 140px;
    width: 30%;
    z-index: 2;
}
.usuario{
    margin-top: 10%;
    color: aliceblue;
}

    #contexto #lado_izq {
        background: rgb(32, 32, 32);
        
        height: 100vh;
        position: relative;
        width: 100%;
        z-index: 1;


    }
    #btn-entrar {
        background:rgb(224, 74, 50);
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter:blur(10%) ;
        border: none;
        border-radius: 0px 0px 0px 0px;
        color: rgb(147, 44, 26);
        font-weight: bold;
        margin: 0px ;
        padding: 16px;
        width: 100%;
        margin-top: 4% ;
        position: relative;
    }

    .campos{
        background: none;
        border: none;
        background-color: #18191e;
        margin: 16px 0;
        padding: 15px 30px;
        width: 100%;
        font-family: 'Kanit', sans-serif;
font-family: 'Mooli', sans-serif;
        color: aliceblue;
    
    }
    .h2{
        position: absolute;
        font-family: 'Kanit', sans-serif;
        font-family: 'Mooli', sans-serif;
        color: aliceblue;
         margin-top: -10%;
         margin-left:  3%;
         font-size: 250%;
    }

    
@media screen and (min-whidth:1000px) {
    section#contexto {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
    }
        #contexto #lado_der{
            border-radius: 0;
            position: relative;
            top: initial;
            left: initial;
            display: grid;

           
        }

        #contexto #lado_izq{
            background: none;
            height: inherit;
        }
      #forma_prueba{
            max-width: 200px;
      }

}


.ruta{
   position: absolute;
   left: 18%;
   top: 365px;
   color: rgb(136, 138, 139);


}
.create{
    position: absolute;
    top: 365px;
    left: 50%;
    color: #8e3b30;

}
.borde{
    position: absolute;
    width: 9%;
    height: 15%;
    top: 6%;
    left: 0%;
}
.bxs-key{
    position: absolute;
    top: 49%;
    left: 75%;
    color: aliceblue;
    font-size: 25px;
}
.bxs-user{
    position: absolute;
    top: 31%;
    left: 75%;
    color: aliceblue;
    font-size: 25px;
}